:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.file--extension {
  color: gray;
}

.file--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: dashed;
  border-color: lightgrey;
  border-radius: 8px;
}

.file--flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.file--img {
  padding-top: 20px;
  height: 60px;
  opacity: 0.3;
}

.file--removebutton {
  background-color: #0c57c7;
  padding: 3px;
  color: white;
}

.file--li {
  font-weight: bold;
  list-style-type: none;
  padding-top: 10px;
}

.pre--box {
  background-color: #0c57c7;
  color: white;
  padding: 10px;
  margin-top: 40px;
  border-radius: 7px;
  min-width: 300px;
}

.margin {
  margin-top: 40px;
}

.form--row {
  float: left;
  margin-right: 20px;
}

.form--row-button {
  margin-right: 20px;
  width: 300px;
}

form {
  width: 100%;
}

.description--row {
  margin-top: 70px;
  margin-right: 20px;
}

.padding--top {
  padding-top: 10px;
}

.header--box {
  padding: 40px 0 0 0;
  width: 100%;
}

input,
label {
  display: block;
}

input {
  border-style: solid;
}

.input--emailerror {
  border-color: red !important;
}

.ui--navbar {
  display: flex;
  align-items: start;
  background-color: darkgray;
  height: 70px;
  width: 100%;
}

.ui--navbar-left {
  display: flex;
  align-items: start;
  background-color: darkgray;
  height: 70px;
  width: 100%;
}

.ui--navbar-right {
  display: flex;
  justify-content: end;
  background-color: darkgray;
  height: 70px;
  width: 100%;
}

.ui--navbar-title-text-bold {
  font-weight: bold;
  padding: 20px;
  padding-top: 23px;
  color: white;
}

.ui--navbar-links {
  padding: 20px;
  padding-top: 23px;
  color: white;

}

.ui--navbar-profile {
  padding: 20px;
  padding-top: 20px;
  margin-bottom: 0;
  color: white;

}

.container {
  display: flex;
  place-items: center;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

textarea {
  height: 100px;
  width: 100%;
}

body {
  font-family: Arial;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

select {
  width: 100px;
}

button:active {
  background: #0c57c7;
}

input,
select,
textarea {
  border-radius: 4px;
  border-width: thin;
  border-color: rgb(154, 154, 154) !important;
}

.input--button {
  background-color: #0d6efd;
  color: white;
}

.input--button-disabled {
  color: light-gray;
  pointer-events: none;
}

.alert-hidden {
  opacity: 0;
  transition: all 250ms linear 2s;
}

.textarea--textHint {
  font-size: 14px !important;
  color: rgb(154, 154, 154) !important;
}

.checkbox--description {
  color: gray;
  margin-left: 23px;
  margin-bottom: 0px;
}

.checkbox--group {
  display: flex;
}

.checkbox--label {
  margin-left: 10px
}

.legend--bold {
  font-weight: bold;
  font-size: medium;
}

.row--stepform {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
  justify-content: space-around;
  align-items: flex-end;
  width: 1200px;
}

.container--stepform-button {
  display: flex;
  place-items: end;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}

.homepage--img {
  height: 150px;
}

.header--img {
  margin-left: 10px;
  border-radius: 20px;
}

.homepage--box {
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar--box-name {
  margin: 0;
  display: flex;
  justify-content: end;
}

a:hover {
  color: rgb(223, 223, 223) !important;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }

}

/* Mobile */
@media only screen and (min-width: 200px) and (max-width: 680px) {
  .form--row {
    float: none;
    margin-right: 20px;
  }

  input,
  textarea {
    width: 100%;
  }

  .checkbox--input {
    width: 12px;
  }

  .container {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
  }

  .row--stepform {
    width: 350px;
  }

  .homepage--box {
    padding: 50px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    flex-direction: column;
  }

  .ui--navbar-profile {
    display: none;
  }

  form {
    width: 100%;
  }

  .description--row {
    margin-top: 0;
  }
}

/* IPads vertical mode */
@media only screen and (min-width: 600px) and (max-width: 780px) {
  textarea {
    width: 393px;
    height: 30px;
  }

  .container {
    padding: 100px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
  }

  body {
    background-color: white;
  }

  .row--stepform {
    width: 500px;
  }

  form {
    width: 100%;
  }

  .ui--navbar-profile {
    display: none;
  }
}

/* IPads landscape mode */
@media only screen and (min-width: 600px) and (max-width: 1400px) {
  textarea {
    width: 393px;
    height: 30px;
  }

  .container {
    padding: 100px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
  }

  body {
    background-color: white;
  }

  .row--stepform {
    width: 500px;
  }

  form {
    width: 100%;
  }
}