:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.pre--box{
  background-color: #0c57c7;
  color: white;
  padding: 10px;
  margin-top: 40px;
  border-radius: 7px;
}
.margin{
  margin-top: 40px;
}
.form--row{
  float:left;
  margin-right:20px;
}
.form--row-button{
  margin-right:20px;
  width: 300px;
}
.description--row{
  margin-right:20px;
}

.padding--top{
padding-top: 10px;
}

.header--box{
  padding: 40px 0 0 0;
}

input, label {
  display:block;
}

input{
  border-style: solid;
}

textarea{
  height: 100px;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.input--button{
  background-color: #0d6efd;
  color: white;
}
.input--button-disabled{
  color: light-gray;
  pointer-events: none;
}

button:active {
  background: #0c57c7;
}

 input, select, textarea{
    border-radius: 4px;
    border-width: thin;
    border-color:rgb(154, 154, 154) !important;
  }

  .alert-hidden {
    opacity: 0;
    transition: all 250ms linear 2s; 
  }

  .textarea--textHint{
    font-size: 14px !important;
    color:rgb(154, 154, 154) !important;
  }

  .checkbox--description{
  color:gray;
  margin-left : 23px;
  margin-bottom: 0px;
  }
  .checkbox--group{
    display: flex;
  }
  .checkbox--label{
    margin-left : 10px
  }

  .legend--bold{
    font-weight: bold;
    font-size: medium;
  }


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Mobile */
@media only screen and (min-width: 200px) and (max-width: 600px) {
  .form--row{
    float:none;
    margin-right:20px;
  }
  
  input, textarea{
    width:100%;
  }
  .checkbox--input{
    width:12px;
  }
}

/* IPads landscape mode */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  textarea{
    width: 393px;
    height: 30px;
  }
}


